
@{
    ViewBag.Title = "Index";
}
<style>
    html, body {
        overflow: hidden;
    }

    body {
        padding: 0;
        margin: 0;
        margin: 0;
        padding: 0;
        background-color: ivory;
    }

    #canvas {
        position:fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 100vh;
    }
</style>

<div>
    <img id="map_pic" src="~/map.png" alt="Italian Trulli" hidden="hidden">
    <canvas id="map" width="100" height="100"></canvas>
    <h2>DATA:</h2>
    <table>
        <tr>
            <td>lng:  </td>
            <td><p type="text" id="lng" size="5"></p></td>
        </tr>
        <tr>
            <td>lat:  </td>
            <td><p type="text" id="lat" size="5"></p></td>
        </tr>
    </table>

</div>

<script>
    var IntervalTime = @Session["time"] * 1000
    myTimer = (function () {
        $.post( "@Url.Action("GetCord")").done(function (xml) {
                var xmlDoc = $.parseXML( xml ),
                $xml = $( xmlDoc ),
                lat = $xml.find( "lat" ).text();
                lng = $xml.find( "lng" ).text();


                $("#lng").text(lng);
                $("#lat").text(lat);
        });
    });
    setInterval(myTimer, IntervalTime);
    myTimer();
</script>

<script>
    window.onload = function () {
        var c = document.getElementById("map");
        c.width = window.innerWidth;
        c.height = window.innerHeight;
        var ctx = c.getContext("2d");
        var img = document.getElementById("map_pic");

        ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, c.width, c.height);
    }; 
</script>
