@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url(/Resources/Images/404_1.jpg);
        background-color: #cccccc;
        background-position: top;
        padding: 0;
        margin: 0;
        margin: 0;
        padding: 0;
    }
    div {
        text-align: center;
    }
    a {
        display: inline-block;
        margin-top:10px;
        font-family: helvetica;
        text-decoration: none;
        font-size: xx-large;
        background-color: white;
        color: black;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-style:wavy;
    }
    a:active {
        color: red;
    }
    a:visited {
        color: black;
    }
</style>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<body>
    <div>
        <a href="~/Display/127.0.0.1/5402">Click Here</a>
    </div>
    <audio controls id="GB" src="~/Resources/Sounds/Portal_GB.mp3" hidden="hidden"></audio>
</body>


<script>
    $('a').click(function (e)
    {
        console.log("Goodbye");
        console.log("Redirecting to \"Display/127.0.0.1/5402\"");
        document.getElementById('GB').play();
        var ms = 1000;
        var start = new Date().getTime();
        var end = start;
        while (end < start + ms) {
            end = new Date().getTime();
        }


        return true;
    });
</script>
